{% extends "plan_base.html" %}

{% block title %}{{ room.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ room.name }}</h1>
      </br>
      <h3>{{ movie.title }}</h3>
      <p class="fs-4 fw-light">{{ schedule.date_time }}</p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Row</th>
                    <th>Column</th>
                    <th>Status</th>
                    <th>Buy</th>
                </tr>
            </thead>
            <tbody>
              <form method='POST'>
              {% csrf_token %}
              {% for seat in seats %}
                <tr>
                    <td>{{ seat.seat_id }}</td>
                    <td>{{ seat.row }}</td>
                    <td>{{ seat.column }}</td>
                    <td>
                      {% if not seat.ticket.exists %}
                        <span class="badge bg-success">Available</span>
                      {% else %}
                        <span class="badge bg-danger">Purchased</span>
                      {% endif %}
                    <td>
                      <button type="submit" value="{{seat.id}}" name="seat_id" class="btn btn-primary"
                      {% if seat.ticket.exists %} disabled {%endif%}>
                        Buy
                      </button>
                    </td>
                </tr>
                {% endfor %}
              </form>
            </tbody>
          </table>
      </div>
  </div>
</div>
{% endblock %}